{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category.description }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ category.color }}</td>
            </tr>
            <tr>
                <th>Icon</th>
                <td>{{ category.icon }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ category.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ category.position }}</td>
            </tr>
            <tr>
                <th>Visibility</th>
                <td>{{ category.visibility }}</td>
            </tr>
            <tr>
                <th>TaskLimit</th>
                <td>{{ category.taskLimit }}</td>
            </tr>
            <tr>
                <th>CreateAt</th>
                <td>{{ category.createAt ? category.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdateAt</th>
                <td>{{ category.updateAt ? category.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>No</th>
                <td>{{ category.no }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_category_index') }}">back to list</a>

    <a href="{{ path('app_category_edit', {'id': category.id}) }}">edit</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
