{{ form_start(form) }}

<div class="form-group">
    {{ form_row(form.code) }}
</div>

<div class="form-group">
    {{ form_row(form.nom) }}
</div>

<div class="form-group">
    {{ form_row(form.description) }}
</div>

<div class="form-row">
    <div class="form-col">
        {{ form_row(form.prix) }}
    </div>
    <div class="form-col">
        {{ form_row(form.devise) }}
    </div>
</div>

<div class="form-row">
    <div class="form-col">
        {{ form_row(form.duree) }}
    </div>
    <div class="form-col">
        {{ form_row(form.uniteDuree) }}
    </div>
</div>

<div class="form-group">
    {{ form_row(form.type) }}
</div>

<div class="form-checks">
    {{ form_row(form.essaiGratuit) }}
    {{ form_row(form.statut) }}
</div>

<div class="form-actions">
    <button class="btn primary">
        {{ button_label|default('Enregistrer') }}
    </button>
</div>

{{ form_end(form) }}
