{% extends 'layout/base.html.twig' %}

{% block title %}Packages{% endblock %}

{% block body %}

<div class="page-header">
  <div>
    <h1 class="page-title">Packages</h1>
    <p class="desc">Gestion des packages</p>
  </div>

  <a href="{{ path('app_package_new') }}" class="btn primary">
    <i class="fa-solid fa-plus"></i>
    Ajouter Package
  </a>
</div>

{% if packages is empty %}
  <div class="show-card" style="text-align:center">
    <p>Aucun package trouvé.</p>
  </div>
{% else %}

<div class="cards-grid">

  {% for package in packages %}
    <div class="package-card">

      {% if package.essaiGratuit %}
        <span class="badge">Essai gratuit</span>
      {% endif %}

      <h3>{{ package.nom }}</h3>
      <p class="desc">{{ package.description }}</p>

      <div class="price">
        {{ package.prix }} {{ package.devise }}
        <span>
          / {{ package.duree == 0 ? '∞' : package.duree ~ ' ' ~ package.uniteDuree }}
        </span>
      </div>

      <ul class="infos">
        <li>Type : {{ package.type }}</li>
        <li>Statut : {{ package.statut ? 'Actif' : 'Inactif' }}</li>
      </ul>

      {# ===== DELETE FORM ===== #}
      <form method="post"
            action="{{ path('app_package_delete', {id: package.id}) }}"
            onsubmit="return confirm('Tu es sûr de vouloir supprimer ce package ?');">

        <input type="hidden" name="_token"
               value="{{ csrf_token('delete' ~ package.id) }}">

    <button class="btn">Supprimer</button>
        </button>
      </form>

      <a href="{{ path('app_package_edit', { id: package.id }) }}"
         class="btn">
        Modifier
      </a>

    </div>
  {% endfor %}

</div>
{% endif %}

{% endblock %}
